<html>
<head>
	<title>My Blog Wall</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--Custom CSS, Scripts-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body> 
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}	

	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">My Wall</a>	 
		</div>
		<!--<ul class="nav navbar-nav">
		  <li class="active"><a href="/">Home</a></li>		 
		</ul>-->
		<ul class="nav navbar-nav navbar-right">
		  <li><a href="#"><span class="glyphicon glyphicon-user"></span>Welcome {{ logged_in_user }} </a></li>
		  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	  </div>
	</nav>
	<div class="container">	  
		<h4>Messages</h4>
		<form role="form" action="/post_msg" method="post">
			<div class="form-group">
				<textarea name="msg_txt" id="msg_txt"  placeholder="Enter your message" class="form-control" rows="3" required></textarea>
			</div>
			<input type="hidden" name="msg_user_id" value="{{ id }}">
			<button type="submit" class="btn btn-success">Post a Message</button>
		</form>
		<br><br>
		<p><span class="badge">{{ msg_count }}</span> Messages</p><br>	
		{% for msg in all_msgs %}		
		<div class="row">
			<div class="well">
				<h4>{{ msg['msg_owner'] }} <small>{{ msg['updated_at'] }}</small></h4>
				<p>{{ msg['message'] }}</p>
				<br>
				{% for cmt in all_cmts %}
					{% if msg['msg_id'] == cmt['message_id'] %}
						<div class="row">
							<div class="col-sm-2 text-center">
								<img src="static/images/comments_img.jpg" height="65" width="65" alt="comments">
							</div>
							<div class="col-sm-10">
								<h4>{{ cmt['comment_user'] }} <small>{{ cmt['updated_at'] }}</small></h4>
								<p>{{ cmt['comment'] }}</p>
								<br>
							</div>
						</div>
					{% endif %}
				{% endfor %}				
				<form role="form" action="/post_comment" method="post">
					<div class="form-group">
						<textarea placeholder="Enter your comment" name="comment_txt" id='comment_txt' class="form-control" rows="3" required></textarea>						
					</div>
					<input type="hidden" name="comment_user_id" value="{{ id }}">
					<input type="hidden" name="msg_owner" value="{{ msg['msg_owner'] }}">
					<input type="hidden" name="msg_owner_id" value="{{ msg['msg_owner_id'] }}">
					<input type="hidden" name="msg_id" value="{{ msg['msg_id'] }}">
					<button type="submit" class="btn btn-success">Post a Comment</button>
				</form>				
			</div>
		</div>		
		{% endfor %}
	</div>
</body>
</html>